section.contact-section
    div#contacts
        span#lets-chat Let’s Chat 🗣
        div.contact
            a(href='mailto:tonyxn0422@gmail.com') Email
        div.contact
            a(href='https://twitter.com/tonyxn0422' target='_blank') Twitter
        div.contact
            a(href='https://www.linkedin.com/in/tonyxn' target='_blank') LinkedIn
    span#copyright © 2018 Tony Nguyen.