doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
    block content
